!!! 5
%html
  %head
    %title The Vault
    = stylesheet_link_tag 'application', 'elx-theme/jquery-ui-1.8.23.custom.css'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #top-bar-area{:class => 'ui-helper-clearfix ui-helper-reset ui-widget ui-widget-header'}
      %h1.title The Vault
    #main
      - if flash[:notice]
        #notice.message= raw(flash[:notice])
      - elsif flash[:warning]
        #warning.message= raw(flash[:warning])

      = yield
